/* FIX THE BOTTOM PARTS LATER */
/* FONT IMPORTS */
/* Title font */ @import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@200;300;400;500;600;700;800&display=swap');

/* Section logo font */ @import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
/* Paragraph text */ @import url('https://fonts.googleapis.com/css2?family=Mohave:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
}

body {
  scroll-behavior: smooth;
  background: #232224;
}

/* SCROLLBAR */
::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-track {
  background: white;
}

::-webkit-scrollbar-thumb {
  background-color: #FF10F0;
}

/* H1 TITLE */
.app h1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-grow: 1;

  padding-top: 0.1em;

  font-family: 'Major Mono Display', monospace;
  color: white;
  font-size: 4em;

  animation: glow 2s ease-in-out infinite alternate;
}

@keyframes glow {
  from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff;
  }
}

#hiphop p {
  background-color: black;
}